<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
    <head th:fragment="header">
        <th:block th:replace="~{common/essential::header}"></th:block>
        <link href="/css/style.css" rel="stylesheet">
        <script src="/js/color-modes.js"></script>
        <style>
            .form-control-dark {
                border-color: var(--bs-gray);
            }
            .form-control-dark:focus {
                border-color: #fff;
                box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
            }

            .text-small {
                font-size: 85%;
            }

            .dropdown-toggle:not(:focus) {
                outline: 0;
            }
        </style>
        <title>대학 웹 커뮤니티</title>
    </head>
<body>
    <div th:fragment="headline" class="py-3 border-bottom"> <!-- 상단바 -->
        <div class="container d-flex flex-wrap justify-content-center">
            <img class="mx-3" src="/img/ptuteam_logo.png" alt="" width="88" height="88">
            <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <span class="fs-4">대학생 커뮤니티 (가제)</span>
            </a>
        </div>
        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">로그인</button>
            <button type="button" class="btn btn-primary">회원가입</button>
        </div>
    </div>
    <div th:fragment="navigation">
        <nav class="py-2 bg-body-tertiary border-bottom">
            <div class="container d-flex flex-wrap">
                <ul class="nav me-auto">
                    <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">전체보기</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">게시판</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">전체보기</a></li>
                            <li><a class="dropdown-item" href="#">자유게시판</a></li>
                            <li><a class="dropdown-item" href="#">정보공유게시판</a></li>
                            <li><a class="dropdown-item" href="#">질문·답변게시판</a></li>
                            <li><a class="dropdown-item" href="#">홍보게시판</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">동아리</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">동아리찾기</a></li>
                            <li><a class="dropdown-item" href="#">친목</a></li>
                            <li><a class="dropdown-item" href="#">취업·창업</a></li>
                            <li><a class="dropdown-item" href="#">학술·교양</a></li>
                            <li><a class="dropdown-item" href="#">문화·예술</a></li>
                            <li><a class="dropdown-item" href="#">스포츠</a></li>
                            <li><a class="dropdown-item" href="#">봉사·사회활동</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">외부활동</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">대외활동</a></li>
                            <li><a class="dropdown-item" href="#">공모전</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">취업정보</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">채용공고</a></li>
                            <li><a class="dropdown-item" href="#">기업검색</a></li>
                            <li><a class="dropdown-item" href="#">취업컨텐츠</a></li>
                            <li><a class="dropdown-item" href="#">취업교육</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">스터디·모임</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">자격증</a></li>
                            <li><a class="dropdown-item" href="#">어학</a></li>
                            <li><a class="dropdown-item" href="#">국가고시</a></li>
                            <li><a class="dropdown-item" href="#">공무원시험</a></li>
                            <li><a class="dropdown-item" href="#">전공시험</a></li>
                            <li><a class="dropdown-item" href="#">기타</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">중고장터</a></li>
                    <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">학점계산</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                    <input type="search" class="form-control" placeholder="검색..." aria-label="Search">
                </form>
            </div>
        </nav>
    </div>
</body>
</html>