/* =================================
 * 공통 스타일
 * ================================= */

/* Nav */
.nav-link {
  color: inherit;
}
.nav-link:hover {
  color: #198754;
}
.nav-link:not(:hover) [class*=material-icons] {
  opacity: 0.7;
}

/* Dropdown */
.dropdown-item {
  width: unset;
}

/* Path */
.breadcrumb {
  color: #686868;
  font-size: 14px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: '\00B7';
}
.breadcrumb-item.active {
  opacity: 0.6;
}
