<!DOCTYPE html>
  <html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
    <th:block th:replace="~{/common/essential::header}"></th:block>
    <div th:replace="~{/common/navbar::headline}"></div>
    <div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->
	<style>
		.logo-thumbnail img {
		  width: 75px;
		  height: 75px;
		}
		
		.page-link {
		  color:black
		}
	</style>
<body>
  <div class="container d-flex my-3"> <!--검색창-->
		<input type="search" class="form-control" placeholder="기업 찾기..." aria-label="Search">
	</div>
	<div class="container d-flex flex-wrap mb-2 my-3"> <!-- 제목 -->
		<h1 class="h3 fw-normal"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">채용공고</a></h1>
	</div>
	<div class="container bg-body-tertiary border rounded-3 mb-4"> 
    	<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr 1fr;">
      		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="#"><img src="../static/img/club_logo_sample.png"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="#" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">[D-(남은 날짜)]</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    	</div>
	</div>
  <div class="container d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item"><a class="page-link" href="#">이전</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#">4</a></li>
			<li class="page-item"><a class="page-link" href="#">5</a></li>
			<li class="page-item"><a class="page-link" href="#">6</a></li>
			<li class="page-item"><a class="page-link" href="#">7</a></li>
			<li class="page-item"><a class="page-link" href="#">8</a></li>
			<li class="page-item"><a class="page-link" href="#">9</a></li>
			<li class="page-item"><a class="page-link" href="#">다음</a></li>
		</ul>
	</div>
</body>
</html>