<!--게시글 목록 페이지 /article-list-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/essential::header}"></th:block>
<body>
<div th:replace="~{/common/navbar::headline}"></div>
<div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->
<style>
  td {
    vertical-align: middle;
  }

  span {
    vertical-align: middle;
  }

  .title-short {
    display: inline-block;
    max-width: 45rem;
  }

  .nickname-short {
    display: inline-block;
    max-width: 8rem;
  }
</style>
<div class="container mt-3">
  <h1 class="h3 fw-normal">(게시판명)</h1>
  <hr style="border: solid 1px rgb(0, 0, 0);"></hr>
  </hr-solid>
  <div class="d-flex justify-content-between">
    <select class="form-select" select style="width:125px;font-size:16px" aria-label="Default select example">
      <option selected>등록순</option>
      <option value="1">공감순</option>
      <option value="2">댓글순</option>
    </select>
  </div>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th style="text-align: center">번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th style="text-align: center">작성일</th>
        <th style="text-align: center">조회수</th>
        <th style="text-align: center">공감</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="text-align: center">(번호)</td>
        <td style="width: 60%">
          <span class="title-short text-truncate">
            <a href="/article-list/articles" class="link-body-emphasis text-decoration-none">(글 제목)</a>
          </span>
          <span>(대괄호 안에 댓글수)</span>
        </td>
        <td style="width: 5%"><span class="nickname-short text-truncate">(작성자명)</span></td>
        <td style="text-align: center">(글 작성일, 시간)</td>
        <td style="text-align: center">(조회수)</td>
        <td style="text-align: center">(공감수)</td>
      </tr>
      <tr>
        <td style="text-align: center">(번호)</td>
        <td style>
          <span class="title-short text-truncate">
            <a href="/article-list/articles" class="link-body-emphasis text-decoration-none">(글 제목)</a>
          </span>
          <span>(대괄호 안에 댓글수)</span>
        </td>
        <td style="width: 5%"><span class="nickname-short text-truncate">(작성자명)</span></td>
        <td style="text-align: center">(글 작성일, 시간)</td>
        <td style="text-align: center">(조회수)</td>
        <td style="text-align: center">(공감수)</td>
      </tr>
      <tr>
        <td style="text-align: center">(번호)</td>
        <td style>
          <span class="title-short text-truncate">
            <a href="/article-list/articles" class="link-body-emphasis text-decoration-none">(글 제목)</a>
          </span>
          <span>(대괄호 안에 댓글수)</span>
        </td>
        <td style="width: 5%"><span class="nickname-short text-truncate">(작성자명)</span></td>
        <td style="text-align: center">(글 작성일, 시간)</td>
        <td style="text-align: center">(조회수)</td>
        <td style="text-align: center">(공감수)</td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between">
    <a href="/article-list" class="btn btn-outline-primary" role="button" aria-pressed="true">전체글</a>
    <a href="/article-list" class="btn btn-outline-primary me-auto mx-2" role="button" aria-pressed="true">인기글</a>
    <a href="/article-list/form" class="btn btn-primary">글쓰기</a>
  </div>

  <div class="container d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item"><a href="/article-list" class="page-link">이전</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">1</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">2</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">3</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">4</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">5</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">6</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">7</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">8</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">9</a></li>
			<li class="page-item"><a href="/article-list" class="page-link">다음</a></li>
		</ul>
  </div>

  <div class="container d-flex justify-content-center">
    <form class="col-4 mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="검색..." aria-label="Search">
    </form>
  </div>
</div>

<hr class="divider my-3">

<footer class="page-footer">
  <div class="d-flex justify-content-center">
    <nav class="nav">
      <a href="#" class="nav-link">회원탈퇴</a>
      <a href="#" class="nav-link">개인정보처리방침</a>
    </nav>
  </div>
</footer>
</body>
</html>