<!--게시글 목록 페이지 /article-list-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/essential::header}"></th:block>
<body>
<div th:replace="~{/common/navbar::headline}"></div>
<div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->
<div class="container">
  <h5 class="mt-5">xx게시판</h5>
  <hr style="border: solid 1px rgb(0, 0, 0);"></hr>
  </hr-solid>
  <div class="d-flex justify-content-between">
    <div class="dropdown me-1">
      <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuOffset" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="10,20">
        등록순
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
        <li><a class="dropdown-item" href="#">등록순</a></li>
        <li><a class="dropdown-item" href="#">좋아요순</a></li>
        <li><a class="dropdown-item" href="#">댓글순</a></li>
      </ul>
    </div>
    <a href="#" onClick="fn_write()" class="btn btn-success">글쓰기</a>
  </div>

  <div class="card border-success mb-3" style="width: 75rem;">
    <h5 class="card-header">
      중고장터
    </h5>
    <div class="card-body">
      <div class="border d-flex justify-content-around" style="height:30px;">
        <div class="border">글 제목</div>
        <div class="border">닉네임</div>
        <div class="border">시간&날짜</div>
        <div class="border">좋아요수</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h5 class="mt-5">xx게시판</h5>
  <hr style="border: solid 1px rgb(0, 0, 0);"></hr>
  </hr-solid>
  <div class="d-flex justify-content-between">
    <select class="form-select" select style="width:125px;font-size:16px" aria-label="Default select example">
      <option selected>등록순</option>
      <option value="1">좋아요순</option>
      <option value="2">댓글순</option>
    </select>
    <a href="#" class="btn btn-success">글쓰기</a>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>닉네임</th>
      <th>시간&날짜</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>3</th>
      <th>그래</th>
      <th>가</th>
      <th>2023-10-12</th>
      <th>5</th>
    </tr>

    <tr>
      <th>2</th>
      <th>그래그래</th>
      <th>나</th>
      <th>2023-10-11</th>
      <th>10</th>
    </tr>

    <tr>
      <th>1</th>
      <th>그래그래그래</th>
      <th>다</th>
      <th>2023-10-10</th>
      <th>25</th>
    </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">6</a></li>
      <li class="page-item"><a class="page-link" href="#">7</a></li>
      <li class="page-item"><a class="page-link" href="#">8</a></li>
      <li class="page-item"><a class="page-link" href="#">9</a></li>
      <li class="page-item"><a class="page-link" href="#">10</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>

</div>

<footer class="page-footer">
  <div class="d-flex justify-content-center">
    <nav class="nav">
      <a href="#" class="nav-link">회원탈퇴</a>
      <a href="#" class="nav-link">개인정보처리방침</a>
    </nav>
  </div>
</footer>

</body>
</html>