<!--게시글 화면 /article-list/articles-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/navbar::header}"></th:block>
<body>
	<div th:replace="~{/common/navbar::headline}"></div>
	<div th:replace="~{/common/navbar::navigation}"></div>
		<main>
			<th:block th:if="${success}">
				<div class="alert alert-primary alert-dismissible">
					<h4 style="text-align: center">[[${success}]]</h4>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
			</th:block>
			<div class="container mt-3"> <!-- 제목 -->
				<h1 th:if="${boardArticle.category == 'free'}" class="h3 fw-normal">
					<a href="/board/view?category=free" class="link-body-emphasis
					text-decoration-none color-inherit">
						자유게시판
					</a>
				</h1>
				<h1 th:if="${boardArticle.category == 'sharing'}" class="h3 fw-normal">
					<a href="/board/view?category=sharing" class="link-body-emphasis
				text-decoration-none color-inherit">
						정보공유게시판
					</a>
				</h1>
				<h1 th:if="${boardArticle.category == 'qna'}" class="h3 fw-normal">
					<a href="/board/view?category=qna" class="link-body-emphasis
				text-decoration-none color-inherit">
						질문답변게시판
					</a>
				</h1>
				<h1 th:if="${boardArticle.category == 'promotion'}" class="h3 fw-normal">
					<a href="/board/view?category=promotion" class="link-body-emphasis
				text-decoration-none color-inherit">
						홍보게시판
					</a>
				</h1>
				<h1 th:if="${boardArticle.category == 'market-buy'}" class="h3 fw-normal">
					<a href="/board/view?category=promotion" class="link-body-emphasis
				text-decoration-none color-inherit">
						[구매]
					</a>
				</h1>
				<h1 th:if="${boardArticle.category == 'market-sell'}" class="h3 fw-normal">
					<a href="/board/view?category=promotion" class="link-body-emphasis
				text-decoration-none color-inherit">
						[판매]
					</a>
				</h1>
			</div>
			<div class="container my-1">
				<hr style="border: solid 1px rgb(0, 0, 0);">
				<div class="bg-white p-4 rounded">
					<div class="col-sm-10 mx-auto">
						<h4 class="h4 fw-normal">[[${boardArticle.title}]]</h4>
							<div class="d-flex hstack gap-2"> <!-- 본문 헤더 -->
								<div class="me-auto">닉네임: [[${boardArticle.createdBy}]]</div>
<!--								<div>댓글 (숫자)</div>-->
<!--								<div class="vr"></div>-->
								<div>조회수: [[${boardArticle.views}]]</div>
								<div class="vr"></div>
								<div>작성일: [[${#temporals.format(boardArticle.createdTime, 'yyyy년 MM월 dd일 a h:mm')}]]</div>
								<div class="vr"></div>
								<div>수정일: [[${#temporals.format(boardArticle.revisedTime, 'yyyy년 MM월 dd일 a h:mm')}]]</div>
							</div>
						<hr class="divider">
						<div class="py-1">
							<div><div>[[${boardArticle.contents}]]</div></div>
						</div>
						<div class="text-center mt-5">
							<th:block th:if="${boardArticle.category == 'free' or boardArticle.category == 'sharing'
											or boardArticle.category == 'qna' or boardArticle.category == 'promotion'}">
								<button type="button" class="btn btn-info me-2"
										th:onclick="|location.href='@{/board/like/{id}(id=${boardArticle.id})}'|">
										공감 [[${boardArticle.likes}]]
								</button>
								<button type="button"
										id="deleteErrorBtn1"
										th:onclick="|location.href='@{/board/edit(category=${boardArticle.category}, id=${boardArticle.id})}'|"
										class="btn btn-primary me-2">
										수정
								</button>
								<button type="button"
										th:onclick="|location.href='@{/board/delete/{category}(category=${boardArticle.category}, id=${boardArticle.id})}'|"
										class="btn btn-danger me-2">
										삭제
								</button>
							</th:block>
							<th:block th:if="${boardArticle.category == 'market-buy' or boardArticle.category == 'market-sell'}">
								<button type="button"
										id="deleteErrorBtn2"
										th:onclick="|location.href='@{/market/edit(category=${boardArticle.category}, id=${boardArticle.id})}'|"
										class="btn btn-primary me-2">
										수정
								</button>
								<button type="button"
										th:onclick="|location.href='@{/market/delete(id=${boardArticle.id})}'|"
										class="btn btn-danger me-2">
										삭제
								</button>
							</th:block>
							<hr class="divider">
							<h4 class="h5 mb-3">댓글</h4> <!--댓글 목록-->
							<div th:replace="~{/menu/comment::list}">
							</div>
						</div>
						<button id="comment-create-btn" type="button" class="btn btn-primary" data-bs-toggle="modal"
								data-bs-target="#comment-create-form">댓글 작성</button>
<!--						<th:block>-->
<!--							<div class="card m-2" id="comments-new">-->
<!--								<div class="card-body">-->
<!--									&lt;!&ndash; 댓글 작성 폼 &ndash;&gt;-->
<!--									<form>-->
<!--										&lt;!&ndash; 댓글 본문 입력 &ndash;&gt;-->
<!--										<div class="mb-3">-->
<!--											<label class="form-label">댓글 입력</label>-->
<!--											<textarea type="text" class="form-control" rows="3"-->
<!--													  id="new-comment-body"></textarea>-->
<!--										</div>-->
<!--										&lt;!&ndash; 히든 인풋 &ndash;&gt;-->
<!--										<input type="hidden" id="new-comment-article-id" th:value="${boardArticle.id}">-->
<!--										&lt;!&ndash; 전송 버튼 &ndash;&gt;-->
<!--										<button type="button" class="btn btn-primary"-->
<!--												id="comment-create-btn">댓글 작성</button>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</th:block>-->
						<div th:replace="~{/menu/comment::post-form}"></div>
						<div th:replace="~{/menu/comment::edit-form}"></div>
					</div>
				</div>
			</div>
		</main>
	<script>
		{
			let commentWriteBtn = document.querySelector("#submit-creating");
			commentWriteBtn.addEventListener("click", function () {
				let comment = {
					articleId: document.getElementById("new-comment-article-id").value,
					contents: document.getElementById("new-comment-body").value,

				}
				console.log(comment);
				let url = "/api/articles/"+ comment.articleId + "/comments";
				fetch(url, {
					method: "POST",
					headers: {
						"Content-Type": "application/json"
					},
					body: JSON.stringify(comment)
				}).then(response => {
					const msg = (response.ok) ? "댓글이 등록됐습니다." : "댓글 등록에 실패하였습니다.";
					alert(msg);
					window.location.reload();
				})
			});
		}
	</script>
</body>
</html>