<!DOCTYPE html>
  <html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
    <th:block th:replace="~{/common/essential::header}"></th:block>
    <div th:replace="~{/common/navbar::headline}"></div>
    <div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->
    <style>
      .image-thumbnail {
        width: 215px;
        height: 300px;
        overflow: hidden;
        margin: 0 auto;
      }
      
      .image-thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .content-short {
        display: inline-block;
        max-width: 12rem;
      }
      
      .form-control-dark {
        border-color: var(--bs-gray);
      }
      .form-control-dark:focus {
        border-color: #fff;
        box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
      }
  
      .text-small {
        font-size: 85%;
      }
  
      .dropdown-toggle:not(:focus) {
        outline: 0;
      }
    </style>
<body>
  <div class="container d-flex flex-wrap mb-2 my-2"> <!-- 제목 -->
    <h1 class="h3 fw-normal"><a href="/article-list/articles" class="link-body-emphasis text-decoration-none color-inherit">(취업컨텐츠/취업교육)</a></h1>
  </div>
  <div class="container bg-body-tertiary border rounded-3 mb-4"> 
    <div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr 1fr 1fr 1fr;">
      <div class="bg-white border rounded-3 d-flex flex-wrap"> <!--대외활동 홍보글-->
        <div class="image-thumbnail mt-2">
          <a href="/article-list/articles2"><img src="/img/club_ad_sample.png"></a>
        </div>
        <table class="table table-sm mx-2 my-2">
          <thead>
            <tr>
              <th style="border-bottom: none">
                <span class="content-short text-truncate">
                  <a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit">(컨텐츠/교육명)</a>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="border-bottom: none">
                <span class="content-short text-truncate">(개요)</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="bg-white border rounded-3 d-flex flex-wrap"> <!--대외활동 홍보글-->
        <div class="image-thumbnail mt-2">
          <a href="/article-list/articles2"><img src="/img/club_ad_sample.png"></a>
        </div>
        <table class="table table-sm mx-2 my-2">
          <thead>
          <tr>
            <th style="border-bottom: none">
                <span class="content-short text-truncate">
                  <a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit">(컨텐츠/교육명)</a>
                </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="border-bottom: none">
              <span class="content-short text-truncate">(개요)</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="bg-white border rounded-3 d-flex flex-wrap"> <!--대외활동 홍보글-->
        <div class="image-thumbnail mt-2">
          <a href="/article-list/articles2"><img src="/img/club_ad_sample.png"></a>
        </div>
        <table class="table table-sm mx-2 my-2">
          <thead>
          <tr>
            <th style="border-bottom: none">
                <span class="content-short text-truncate">
                  <a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit">(컨텐츠/교육명)</a>
                </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="border-bottom: none">
              <span class="content-short text-truncate">(개요)</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="bg-white border rounded-3 d-flex flex-wrap"> <!--대외활동 홍보글-->
        <div class="image-thumbnail mt-2">
          <a href="/article-list/articles2"><img src="/img/club_ad_sample.png"></a>
        </div>
        <table class="table table-sm mx-2 my-2">
          <thead>
          <tr>
            <th style="border-bottom: none">
                <span class="content-short text-truncate">
                  <a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit">(컨텐츠/교육명)</a>
                </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="border-bottom: none">
              <span class="content-short text-truncate">(개요)</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="bg-white border rounded-3 d-flex flex-wrap"> <!--대외활동 홍보글-->
        <div class="image-thumbnail mt-2">
          <a href="/article-list/articles2"><img src="/img/club_ad_sample.png"></a>
        </div>
        <table class="table table-sm mx-2 my-2">
          <thead>
          <tr>
            <th style="border-bottom: none">
                <span class="content-short text-truncate">
                  <a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit">(컨텐츠/교육명)</a>
                </span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="border-bottom: none">
              <span class="content-short text-truncate">(개요)</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item"><a href="#" class="page-link">이전</a></li>
			<li class="page-item"><a href="#" class="page-link">1</a></li>
			<li class="page-item"><a href="#" class="page-link">2</a></li>
			<li class="page-item"><a href="#" class="page-link">3</a></li>
			<li class="page-item"><a href="#" class="page-link">4</a></li>
			<li class="page-item"><a href="#" class="page-link">5</a></li>
			<li class="page-item"><a href="#" class="page-link">6</a></li>
			<li class="page-item"><a href="#" class="page-link">7</a></li>
			<li class="page-item"><a href="#" class="page-link">8</a></li>
			<li class="page-item"><a href="#" class="page-link">9</a></li>
			<li class="page-item"><a href="#" class="page-link">다음</a></li>
		</ul>
  </div>

  <div class="container d-flex justify-content-center">
    <form class="col-4 mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="검색..." aria-label="Search">
    </form>
  </div>

  <hr class="divider my-3">

  <footer class="page-footer">
    <div class="d-flex justify-content-center">
      <nav class="nav">
        <a href="#" class="nav-link">회원탈퇴</a>
        <a href="#" class="nav-link">개인정보처리방침</a>
      </nav>
    </div>
  </footer>
</body>
</html>