<!--취업 정보 페이지 /job-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
    <th:block th:replace="~{/common/essential::header}"></th:block>
    <div th:replace="~{/common/navbar::headline}"></div>
<div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->
<style>
    .logo-thumbnail img {
      width: 75px;
      height: 75px;
    }
    
    .form-control-dark {
      border-color: var(--bs-gray);
    }
    .form-control-dark:focus {
      border-color: #fff;
      box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
    }

    .text-small {
      font-size: 85%;
    }

    .dropdown-toggle:not(:focus) {
      outline: 0;
    }
</style>
<body>
	<div class="container d-flex flex-wrap mb-2 my-3"> <!-- 제목 -->
		<h1 class="h3 fw-normal"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">채용공고</a></h1>
	</div>
    <div class="container d-flex my-3"> <!--검색창-->
		<input type="search" class="form-control" placeholder="기업 찾기..." aria-label="Search">
	</div>
	<div class="container bg-body-tertiary border rounded-3 mb-4"> 
    	<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr 1fr;">
      		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    		<div class="bg-white border rounded-3 d-flex flex-wrap"> <!--채용공고-->
        		<div class="col d-flex align-items-start">
        			<div class="logo-thumbnail mx-2 my-2">
          				<a href="/article-list/articles2"><img src="/img/company_logo_sample.webp"></a> <!--로고-->
        			</div>
        			<div class="mx-2 mt-2">
        				<a href="/article-list/articles2" class="link-body-emphasis text-decoration-none color-inherit"><b>(기업명)</b></a>
        				<a class="text-black-50 text-decoration-none">(대괄호 안에 D-남은 날짜)</a>
         				<p>(개요)</p>
        			</div>
      			</div>
    		</div>
    	</div>
	</div>
    <div class="container d-flex justify-content-center">
		<ul class="pagination">
			<li class="page-item"><a href="/job" class="page-link">이전</a></li>
			<li class="page-item"><a href="/job" class="page-link">1</a></li>
			<li class="page-item"><a href="/job" class="page-link">2</a></li>
			<li class="page-item"><a href="/job" class="page-link">3</a></li>
			<li class="page-item"><a href="/job" class="page-link">4</a></li>
			<li class="page-item"><a href="/job" class="page-link">5</a></li>
			<li class="page-item"><a href="/job" class="page-link">6</a></li>
			<li class="page-item"><a href="/job" class="page-link">7</a></li>
			<li class="page-item"><a href="/job" class="page-link">8</a></li>
			<li class="page-item"><a href="/job" class="page-link">9</a></li>
			<li class="page-item"><a href="/job" class="page-link">다음</a></li>
		</ul>
    </div>

    <hr class="divider my-3">

    <footer class="page-footer">
    <div class="d-flex justify-content-center">
        <nav class="nav">
        <a href="#" class="nav-link">회원탈퇴</a>
        <a href="#" class="nav-link">개인정보처리방침</a>
        </nav>
    </div>
</footer>
</body>
</html>