<!--게시글 입력 화면 /article-list/form-->
<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/navbar::header}"></th:block>
<body>
	<div th:replace="~{/common/navbar::headline}"></div>
	<div th:replace="~{/common/navbar::navigation}"></div>
		<main>
			<div class="container d-flex flex-wrap my-3"> <!-- 제목 -->
				<h1 th:if="${cat == 'free'}" class="h3 fw-normal"> 자유게시판 - 글쓰기</h1>
				<h1 th:if="${cat == 'sharing'}" class="h3 fw-normal"> 정보공유게시판 - 글쓰기</h1>
				<h1 th:if="${cat == 'qna'}" class="h3 fw-normal"> 질문답변게시판 - 글쓰기</h1>
				<h1 th:if="${cat == 'promotion'}" class="h3 fw-normal"> 홍보게시판 - 글쓰기</h1>
			</div>
			<form th:action="@{/board/edit(id = ${id})}" th:object="${articleDto}" method="POST">
				<div class="container my-1"> <!-- 글쓰기 공간 -->
					<div class="bg-body-tertiary p-5 rounded">
						<div class="col-sm-10 py-5.5 mx-auto">
							<div><input type="text" class="form-control" th:field="*{title}" placeholder="제목"></div>
							<div class="py-3">
								<textarea class="form-control" th:field="*{contents}" rows="16" placeholder="내용"></textarea>
							</div>
							<div class="input-group mb-3">
								<input type="file" class="form-control" id="inputGroupFile">
							</div>
							<div class="form-check">
								<input class="form-check-input text-center" type="checkbox" value="remember-me" id="flexCheckDefault">
								<label class="form-check-label" for="flexcheckdefault">익명으로 글쓰기</label>
							</div>
							<div class="text-center">
								<button type="button" class="btn btn-outline-primary me-2">취소</button>
								<button type="submit" class="btn btn-primary">등록</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</main>
</body>
</html>