<!doctype html>
<html lang="ko" data-bs-theme="auto">
<head><script src="../../../../src/main/resources/static/js/color-modes.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>(글제목)</title>
    
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
	<link href="../../../../src/main/resources/static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../../../../src/main/resources/static/css/style.css" rel="stylesheet">
	<style>
		.form-control-dark {
		  border-color: var(--bs-gray);
		}
		.form-control-dark:focus {
		  border-color: #fff;
		  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
		}

		.text-small {
		  font-size: 85%;
		}

		.dropdown-toggle:not(:focus) {
		  outline: 0;
		}
	</style>
<body>
	<main>	
		<header class="py-3 border-bottom"> <!-- 상단바 -->
			<div class="container d-flex flex-wrap justify-content-center">
				<img class="mx-3" src="../../../../src/main/resources/static/img/ptuteam_logo.png" alt="" width="40" height="40">
  				<a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    				<span class="fs-4">대학생 커뮤니티 (가제)</span>
  				</a>
  				<div class="col-md-3 text-end">
			        <button type="button" class="btn btn-outline-primary me-2">로그인</button>
			        <button type="button" class="btn btn-primary">회원가입</button>
		        </div>
      		</div>
		</header>
		<nav class="py-2 bg-body-tertiary border-bottom">
    		<div class="container d-flex flex-wrap">
      			<ul class="nav me-auto">
        			<li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">전체보기</a></li>
        			<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle link-body-emphasis" href="#" data-bs-toggle="dropdown" aria-expanded="false">게시판</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">전체보기</a></li>
		                	<li><a class="dropdown-item" href="#">자유게시판</a></li>
		                	<li><a class="dropdown-item" href="#">정보공유게시판</a></li>
		                	<li><a class="dropdown-item" href="#">질문·답변게시판</a></li>
		                	<li><a class="dropdown-item" href="#">홍보게시판</a></li>
              			</ul>
        			</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle link-body-emphasis" href="#" data-bs-toggle="dropdown" aria-expanded="false">동아리</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">동아리찾기</a></li>
		                	<li><a class="dropdown-item" href="#">친목</a></li>
		                	<li><a class="dropdown-item" href="#">취업·창업</a></li>
		                	<li><a class="dropdown-item" href="#">학술·교양</a></li>
		                	<li><a class="dropdown-item" href="#">문화·예술</a></li>
		                	<li><a class="dropdown-item" href="#">스포츠</a></li>
		                	<li><a class="dropdown-item" href="#">봉사·사회활동</a></li>
              			</ul>
              		</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle link-body-emphasis" href="#" data-bs-toggle="dropdown" aria-expanded="false">외부활동</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">대외활동</a></li>
		                	<li><a class="dropdown-item" href="#">공모전</a></li>
              			</ul>
              		</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle link-body-emphasis" href="#" data-bs-toggle="dropdown" aria-expanded="false">취업정보</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">채용공고</a></li>
		                	<li><a class="dropdown-item" href="#">기업검색</a></li>
		                	<li><a class="dropdown-item" href="#">취업컨텐츠</a></li>
		                	<li><a class="dropdown-item" href="#">취업교육</a></li>
              			</ul>
              		</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle link-body-emphasis" href="#" data-bs-toggle="dropdown" aria-expanded="false">스터디·모임</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">자격증</a></li>
		                	<li><a class="dropdown-item" href="#">어학</a></li>
		                	<li><a class="dropdown-item" href="#">국가고시</a></li>
		                	<li><a class="dropdown-item" href="#">공무원시험</a></li>
		                	<li><a class="dropdown-item" href="#">전공시험</a></li>
		                	<li><a class="dropdown-item" href="#">기타</a></li>
              			</ul>
        			</li>
        			<li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">중고장터</a></li>
        			<li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">학점계산</a></li>
      			</ul>
      			<form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
    				<input type="search" class="form-control" placeholder="검색..." aria-label="Search">
  				</form>
    		</div>
  		</nav>
  		<div class="container bg-body-tertiary border rounded-3 mt-3 mb-4">
    		<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr;">
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">게시판</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>자유</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>정보</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>질문</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>홍보</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">동아리</h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>친목</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>취업/창업</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>학술/교양</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>문화/예술</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>스포츠</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>봉사/사회활동</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">외부활동</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>대외활동</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>공모전</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">취업정보</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>채용공고</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>취업컨텐츠</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>취업교육</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">스터디·모임</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>자격증</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>어학</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>국가고시</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>공무원시험</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>전공시험</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>기타</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">중고장터</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>판매</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>구매</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(댓글 작성일/시간)</div>
					</div>
				</div>
			</div>
  		</div>
  	</main>
	<script src="../../../../src/main/resources/static/js/bootstrap.bundle.min.js"></script>
</html>