<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/navbar::header}"></th:block>
	<link href="/css/style.css" rel="stylesheet">	
<body>
	<div th:replace="~{/common/navbar::headline}"></div>
	<div th:replace="~{/common/navbar::navigation}"></div>
	<main>	
		<div class="container bg-body-tertiary border rounded-3 mt-3 mb-4">
    		<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr;">
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">자유게시판</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2">  
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">정보공유게시판</a></h4>
						<hr class="divider m-2">
					</div>
	      				      			<div class="d-flex hstack gap-2 m-2">  
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">질문·답변게시판</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
	      			<div class="d-flex hstack gap-2 m-2">  
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">홍보게시판</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2">  
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<div><a href="#" class="link-body-emphasis text-decoration-none color-inherit">(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
			</div>
  		</div>
  	</main>
</body>
</html>