<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/navbar::header}"></th:block>
	<link href="/css/style.css" rel="stylesheet">
	<style>
		.image-thumbnail {
		  width: 400px;
		  height: 400px;
		  overflow: hidden;
		  margin: 0 auto;
		}
		
		.image-thumbnail img {
		  width: 100%;
		  height: 100%;
		  object-fit: cover;
		}
		
		.form-control-dark {
		  border-color: var(--bs-gray);
		}
		.form-control-dark:focus {
		  border-color: #fff;
		  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
		}

		.text-small {
		  font-size: 85%;
		}

		.dropdown-toggle:not(:focus) {
		  outline: 0;
		}
	</style>
<body>
	<div th:replace="~{/common/navbar::headline}"></div>
	<div th:replace="~{/common/navbar::navigation}"></div>
	<main>	
		<div class="container d-flex my-3"> <!--검색창-->
    		<input type="search" class="form-control" placeholder="동아리 검색..." aria-label="Search">
		</div>
  		<div class="container bg-body-tertiary border rounded-3 mt-3 mb-4"> 
    		<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr 1fr;">
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
			</div>
			<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr 1fr;">
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
			</div>
			<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr 1fr;">
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3"> <!--동아리 홍보글-->
					<div class="d-flex flex-wrap">
						<img class="mx-2 mt-2" src="/img/club_logo_sample.png" width="40" height="40">
						<a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none color-inherit">
    						<span class="fs-4">(동아리명)</span>
  						</a>
  						<div class="image-thumbnail mt-2">
							<a href="#"><img src="/img/club_ad_sample.png"></a>
  						</div>
  						<div class="mx-2 mb-2 mt-2">(설명)</div>
					</div>
				</div>
			</div>
  		</div>
  	</main>
</body>
</html>