<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/essential::header}"></th:block>
<div th:replace="~{/common/navbar::headline}"></div>
<div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->

<body>
    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalLabel">에러 메시지</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="닫기">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Flash 속성의 에러 메시지 표시 -->
                    <p id="errorMessage">[[${error}]]</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // 클라이언트 측 JavaScript로 모달 창 표시
        // document.addEventListener('DOMContentLoaded', () => {
        //     let error = /*[[@{flash.error}]*/ null;
        //     let deleteErrorBtn = document.getElementById('deleteErrorBtn');
        //     let errorModal = new bootstrap.Modal(document.getElementById('myModal'), {
        //         keyboard: false
        //     })
        //     if (error !== "") {
        //         errorModal.show(deleteErrorBtn)
        //     }
        // })
        $(document).ready(function() {
            // 모달 창이 Flash 속성에 에러 메시지가 있는지 확인
            let error = /*[[@{flash.error}]*/ null;
            if (error !== "") {
                $('#errorModal').show('show');
                $('#errorModalLabel').text(error);
                $('#errorMessage').text(error);
            }
        });
    </script>
</body>
</html>