<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/navbar::header}"></th:block>
	<link href="/css/style.css" rel="stylesheet">	
<body>
	<div th:replace="~{/common/navbar::headline}"></div>
	<div th:replace="~{/common/navbar::navigation}"></div>
	<main>	
  		<div class="container bg-body-tertiary border rounded-3 mt-3 mb-4">
    		<div class="d-grid gap-4 my-3" style="grid-template-columns: 1fr 1fr;">
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">게시판</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>자유</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>정보</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>질문</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>홍보</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">동아리</h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>친목</button>
						<div><a>(동아리명)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>취업/창업</button>
						<div><a>(동아리명)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>학술/교양</button>
						<div><a>(동아리명)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>문화/예술</button>
						<div><a>(동아리명)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>스포츠</button>
						<div><a>(동아리명)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>봉사/사회활동</button>
						<div><a>(동아리명)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">외부활동</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>대외활동</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>공모전</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">취업정보</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>채용공고</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>취업컨텐츠</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>취업교육</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">스터디·모임</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>자격증</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>어학</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>국가고시</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>공무원시험</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>전공시험</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>기타</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
				<div class="bg-white border rounded-3">
					<div>
						<h4 class="fw-normal m-2"><a href="#" class="link-body-emphasis text-decoration-none color-inherit">중고장터</a></h4>
						<hr class="divider m-2">
					</div>
	      			<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>판매</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
					<div class="d-flex hstack gap-2 m-2"> 
						<button type="button" class="btn btn-secondary btn-sm" disabled>구매</button>
						<div><a>(글 제목)</a></div>
						<div class="me-auto">[(댓글 수)]</div>
						<div class="text-black-50">(글 작성일/시간)</div>
					</div>
				</div>
			</div>
  		</div>
  	</main>
</body>
</html>