<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
<th:block th:replace="~{/common/essential::header}"></th:block>
<body>
<div th:replace="~{/common/navbar::headline}"></div>
<div th:replace="~{/common/navbar::navigation}"></div> <!-- 네비게이션 바 o -->
<div class="container">
  <div class="row justify-content-center">
    <div class="card border-success mb-3 text-center w-75" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">채용공고</h5>
        <div class="row no-gutters">
          <div class="col-3">
            <img src="https://item.kakaocdn.net/do/936a3cfd8572f61b631dec4e2eda5af79f17e489affba0627eb1eb39695f93dd" class="card-img-center" alt="...">
            <p class="card-text">내용</p>
          </div>
          <div class="col-3">
            <img src="https://item.kakaocdn.net/do/936a3cfd8572f61b631dec4e2eda5af79f17e489affba0627eb1eb39695f93dd" class="card-img-center" alt="...">
            <p class="card-text">내용</p>
          </div>
          <div class="col-3">
            <img src="https://item.kakaocdn.net/do/936a3cfd8572f61b631dec4e2eda5af79f17e489affba0627eb1eb39695f93dd" class="card-img-center" alt="...">
            <p class="card-text">내용</p>
          </div>
          <div class="col-3">
            <img src="https://item.kakaocdn.net/do/936a3cfd8572f61b631dec4e2eda5af79f17e489affba0627eb1eb39695f93dd" class="card-img-center" alt="...">
            <p class="card-text">내용</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2 g-8">
    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">게시판</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-success">자유</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">신입생</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">재학생</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">유학생</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">정보공유</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">질의</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">취미생활</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">졸업생</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">동아리</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-success">찾기</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">친목</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">취업창업</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">학술교양</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">문화예술</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">스포츠</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">봉사, 사회활동</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">외부활동</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-success">대외</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">공모전</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">취업정보</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-success">기업검색</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">취업컨텐츠</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">취업교육</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">스터디/모임</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-success">자격증</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">어학</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">국가고시</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">공무원시험</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">전공시험</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">기타</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card border-success mb-3 text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">홍보</h5>
          <div class="row no-gutters">
            <div class="col-6">
              <img src="https://item.kakaocdn.net/do/936a3cfd8572f61b631dec4e2eda5af79f17e489affba0627eb1eb39695f93dd" class="card-img-center" alt="...">
              <p class="card-text">내용</p>
            </div>
            <div class="col-6">
              <img src="https://item.kakaocdn.net/do/936a3cfd8572f61b631dec4e2eda5af79f17e489affba0627eb1eb39695f93dd" class="card-img-center" alt="...">
              <p class="card-text">내용</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">학점계산</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-primary">찾기</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="card border-success mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">중고장터</h5>
          <div class="btn-group-vertical">
            <div class="row gy-3">
              <div class="col-8">
                <a href="#" class="btn btn-success">판매</a>
              </div>
              <div class="col-8">
                <a href="#" class="btn btn-success">거래완료</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer">
  <div class="d-flex justify-content-center">
    <nav class="nav">
      <a href="#" class="nav-link">로그아웃</a>
      <a href="#" class="nav-link">회원탈퇴</a>
    </nav>
  </div>
  <div class="d-flex justify-content-center">
    <nav class="nav">
      <a href="#" class="nav-link">개인정보처리방침</a>
    </nav>
  </div>
</footer>
</body>
</html>