<!doctype html>
<html lang="ko" data-bs-theme="auto">
<head><script src="../../../../src/main/resources/static/js/color-modes.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>(글제목)</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
	<link href="../../../../src/main/resources/static/js/bootstrap.bundle.min.js" rel="stylesheet">
	<link href="../../../../src/main/resources/static/css/style.css" rel="stylesheet">
	<style>
		.form-control-dark {
		  border-color: var(--bs-gray);
		}
		.form-control-dark:focus {
		  border-color: #fff;
		  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
		}

		.text-small {
		  font-size: 85%;
		}

		.dropdown-toggle:not(:focus) {
		  outline: 0;
		}
	</style>
<body>
	<main>	
		<header class="py-3 border-bottom"> <!-- 상단바 -->
			<div class="container d-flex flex-wrap justify-content-center">
				<img class="mx-3" src="../../../../src/main/resources/static/img/ptuteam_logo.png" alt="" width="40" height="40">
  				<a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
    				<span class="fs-4">대학생 커뮤니티 (가제)</span>
  				</a>
			</div>
  			<div class="col-md-3 text-end">
		        <button type="button" class="btn btn-outline-primary me-2">로그인</button>
		        <button type="button" class="btn btn-primary">회원가입</button>
      		</div>
		</header>
		<nav class="py-2 bg-body-tertiary border-bottom">
    		<div class="container d-flex flex-wrap">
      			<ul class="nav me-auto">
        			<li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2 active" aria-current="page">전체보기</a></li>
        			<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">게시판</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">전체보기</a></li>
		                	<li><a class="dropdown-item" href="#">자유게시판</a></li>
		                	<li><a class="dropdown-item" href="#">정보공유게시판</a></li>
		                	<li><a class="dropdown-item" href="#">질문·답변게시판</a></li>
		                	<li><a class="dropdown-item" href="#">홍보게시판</a></li>
              			</ul>
        			</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">동아리</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">동아리찾기</a></li>
		                	<li><a class="dropdown-item" href="#">친목</a></li>
		                	<li><a class="dropdown-item" href="#">취업·창업</a></li>
		                	<li><a class="dropdown-item" href="#">학술·교양</a></li>
		                	<li><a class="dropdown-item" href="#">문화·예술</a></li>
		                	<li><a class="dropdown-item" href="#">스포츠</a></li>
		                	<li><a class="dropdown-item" href="#">봉사·사회활동</a></li>
              			</ul>
              		</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">외부활동</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">대외활동</a></li>
		                	<li><a class="dropdown-item" href="#">공모전</a></li>
              			</ul>
              		</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">취업정보</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">채용공고</a></li>
		                	<li><a class="dropdown-item" href="#">기업검색</a></li>
		                	<li><a class="dropdown-item" href="#">취업컨텐츠</a></li>
		                	<li><a class="dropdown-item" href="#">취업교육</a></li>
              			</ul>
              		</li>
              		<li class="nav-item dropdown">
	              		<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">스터디·모임</a>
	              		<ul class="dropdown-menu">
		                	<li><a class="dropdown-item" href="#">자격증</a></li>
		                	<li><a class="dropdown-item" href="#">어학</a></li>
		                	<li><a class="dropdown-item" href="#">국가고시</a></li>
		                	<li><a class="dropdown-item" href="#">공무원시험</a></li>
		                	<li><a class="dropdown-item" href="#">전공시험</a></li>
		                	<li><a class="dropdown-item" href="#">기타</a></li>
              			</ul>
        			</li>
        			<li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">중고장터</a></li>
        			<li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">학점계산</a></li>
      			</ul>
      			<form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
    				<input type="search" class="form-control" placeholder="검색..." aria-label="Search">
  				</form>
    		</div>
  		</nav>
  		<div class="container d-flex flex-wrap my-3"> <!-- 제목 -->
			<h1 class="h3 fw-normal">(게시판명)</h1>
		</div>
		<div class="container my-1">
			<hr class="divider">
    		<div class="bg-white p-4 rounded">
      			<div class="col-sm-10 mx-auto">
					<h4 class="h4 fw-normal">(글 제목)</h4>
						<div class="d-flex hstack gap-2"> <!-- 본문 헤더 -->
							<div class="me-auto">(글 작성자)</div>
							<div>댓글 (숫자)</div>
							<div class="vr"></div>
							<div>조회수 (숫자)</div>
							<div class="vr"></div>
							<div>(글 작성일/시간)</div>
						</div>
					<hr class="divider">
					<div class="py-1">
  						<div>(글 내용)</div>
					</div>
					<div class="text-center mt-5">
						<button type="button" class="btn btn-primary me-2">공감 (숫자)</button>
		        		<button type="button" class="btn btn-danger">신고</button>
		        		<hr class="divider">
      				</div>	
      				<h4 class="h5 mb-3">댓글</h4>
      				<div><!-- 댓글 목록 -->
	      				<div class="d-flex hstack gap-2"> 
							<div>(댓글 작성자)</div>
							<div class="vr"></div>
							<div class="me-auto">(댓글 내용)</div>
							<div class="vr"></div>
							<div class="text-black-50">(댓글 작성일/시간)</div>
						</div>
						<hr class="divider mt-2">
					</div>
					<div class="bg-body-tertiary p-3 rounded">
						<div class="form-group row">
  							<div class="input-group">
								<label for="reply-input" class="col-1 col-form-label">(닉네임)</label>
    							<input class="form-control" type="text" id="reply-input">
    							<button class="btn btn-outline-secondary" type="button">작성</button>
  							</div>
						</div>
					</div>
    			</div>
    		</div>
  		</div>
	</main>
	<script src="../../../../src/main/resources/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>