<!--패스워드 찾기 페이지 /find-pw-->
<!DOCTYPE html>
<html lang="ko" data-bs-theme="auto">
<head>
    <title>비밀번호 찾기</title>
    <th:block th:replace="~{common/essential::header}"></th:block>
    <link rel="canonical" href="#">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .form-sign input[type="email"] {
            margin-bottom: 10px;
        }

        .form-sign input[type="password"] {
            margin-bottom: 10px;
        }

        .form-sign input[type="text"] {
            margin-bottom: 10px;
        }

        .form-sign input[type="tel"] {
            margin-bottom: 10px;
        }

        .form-sign input[type="date"] {
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="d-flex align-items-center text-center py-4 bg-body-tertiary">
<main class="form-sign w-100 m-auto">
    <form>
        <img class="mb-4" src="/img/siteLogo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">비밀번호 찾기</h1>
        <p class="mt-3 mb-3">비밀번호는 회원 가입에 입력하신 이메일과 휴대폰 번호와 생년월일을 통해 찾을 수 있습니다.</p>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">이메일</label>
        </div>
        <div class="form-floating">
            <input type="tel" class="form-control" id="phoneNumber" placeholder="123-456-7890">
            <label for="floatingInput">휴대폰 (숫자만)</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="birth" placeholder="2000-01-01">
            <label for="floatingInput">생년월일</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="phoneCode" placeholder="123456">
            <label for="floatingInput">인증번호</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">찾기</button>
    </form>
    <p class="mt-3 mb-3 text-body-secondary">&copy; PTU-TEAM 2023</p>
</main>
</body>
</html>